body {
     font-family: Arial,sans-serif;
     color: #333;
     background-color: #ebeff4;
     margin: 0;
     padding: 0;
     line-height: 1.6;
}
header{
    background-color: #0b1f3a;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1{
    margin: 0;
}
nav a{
    color: #c0c0c0;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover{
    text-decoration: underline;
    color: white;
}
.card,
.car,
.form-container{
    background-color: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    text-align: center;
}
main{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
footer{
    clear:both;
    display: block;
    width: 100%;
    background-color: #0b1f3a;
    color: #c0c0c0;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.row{
    margin: 8px -16px;
}
.row > .column{
    padding: 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.content{
    background-color: white;
    padding: 10px;
}
button:hover{
    background-color: #0b1f3a;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.5s;
}
input,
select,
textarea{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input:focus{
    border-color: #0b1f3a;
}
p{
    font-size: 1.1em;
}
a{
    color: #c0c0c0;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
main a[href^="mailto:"] {
    color: blueviolet;
    font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 70%;
  margin: 20px auto;
}
table, th, td{
text-align: center;
padding: 8px;
border: 1px solid #444
}
tr:nth-child(even){background-color: #a69f9f;}

*{
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.3%;
    padding: 8px
}
.price{
    list-style-type: none;
    border: 1px solid #302d2d;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}
.price .header {
    background-color: #0b1f3a;
    color: #c0c0c0;
    font-size: 25px;
}
.price li {
    border-bottom: 1px solid #bcb6b6;
    padding: 20px;
    text-align: center;
}
.price .grey{
    background-color: #bcb6b6;
    font-size: 20px;
}
.button:hover {
    background-color: #0b1f3a;
    border: none;
    color: #ccc;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
.responsive-img {
max-width: 100%;
height: auto;
display: block;
margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

    



